// inter font
@font-face {
    font-family: "Inter";
    src: url("../../../public/fonts/Inter/Inter-Regular.ttf");
    src: url("../../../public/fonts/Inter/Inter-Black.ttf");
    src: url("../../../public/fonts/Inter/Inter-ExtraBold.ttf");
    src: url("../../../public/fonts/Inter/Inter-Bold.ttf");
    src: url("../../../public/fonts/Inter/Inter-SemiBold.ttf");
    src: url("../../../public/fonts/Inter/Inter-Thin.ttf");
    src: url("../../../public/fonts/Inter/Inter-Light.ttf");
    src: url("../../../public/fonts/Inter/Inter-ExtraLight.ttf");
    src: url("../../../public/fonts/Inter/Inter-Medium.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
